<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册登录</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <div class="form-title">
                <h3></h3>
            </div>
            <form action="indexLogin.html" class="form-horizontal thumbnail">
                <div class="form-group">
                    <label for="">用户名</label>
                    <input type="text" id="" name="" class="form-control" placeholder="用户名">
                </div>
                <div class="form-group">
                    <label for="">密码</label>
                    <input type="password" id="" name="" class="form-control" placeholder="密码">
                </div>
                <div class="form-group">
                    <label for="">
                        <input type="checkbox" class="remember">记住我
                    </label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">登录</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>